{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
	<h1>Adrian</h1>
{% endblock %}

{% block body %}

	<div class="min">
		<img src="img/head.jpg" class="headshot" alt=""/>
	</div>

	<div class="max">
	{% markdown %}
		## About

		Adrian is a web developer, who currently resides in Melbourne, Australia.

		He specialises in web development. His technologies of choice are primarily PHP/MySQL, javascript
		and that lovely old combination of HTML5 and CSS. He has also been known to design the odd site or two!

		Adrian also skateboards, has a borderline addiction to bad music and loves his son Jasper.

		## Get in touch

		You can reach me via email [here](mailto:hey@adrianpalmer.me)

		## Elsewhere

		Below are some of my favourite places around the web where I maintain a presence.

		- [navitronic](http://navitronic.co){.blog .test}<br/>My infrequently updated blog
		- [github](http://github.com/navitronic)<br/>Some of my code lives here. More should.
		- [twitter](http://twitter.com/navitronic)<br/>Moaning.
		- [instagram](http://instagram.com/navitronic)<br/>A collection of phone snaps from the past few year
		- [flickr](http://flickr.com/photos/navitronic)<br/>A collection of photos I have taken since 2006ish
		- [facebook](http://facebook.com/adrianpalmer)<br/>If you know me, you know the drill.
		- [pinboard.in](http://pinboard.in/u:navitronic)<br/>A collection of sporadically updated links that I might
		refer to later.
		- [rdio](http://rdio.com/people/navitronic)<br/>I like Rdio.
		- [last.fm](http://www.last.fm/user/navvvv)<br/>See my music listening habits.
	{% endmarkdown %}
	</div>

{% endblock %}